
  <footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">
      © 2019-2020 Rising Academy
    </div>
  </footer>
  
  <script src="/index.js" type="text/javascript"></script>
</body>

</html>