<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- ICON -->
  <link rel="icon" href="/public/images/star-logo.png">

  <!-- BOOTSTRAP CSS STYLESHEET -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <!-- CSS STYLESHEETS -->
  <link rel="stylesheet" href="/public/css/styles.css">

  <!-- BOOTSTRAP SOCIAL BUTTONS -->
  <link rel="stylesheet" href="/public/css/bootstrap-social.css">

  <!-- FONT AWESOME ICON -->
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
    integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Lexend+Deca|Open+Sans&display=swap" rel="stylesheet">

  <title>Rising Academy</title>
</head>

<body>

  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-center mx-auto" href="/">
      <img class="nav-logo" src="public/images/star-logo.png" alt="Star Logo">
      Rising Academy
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          
          <a class="nav-link nav-login" href="<%= loginRoute %>"><%= loginType %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-sign-up" href="<%= signUpApplyRoute %>"><%= signUpApply %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-contact" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>