<%- include("partials/header.ejs")-%>
  <div class="bg-image"></div>
  <div class="dark-overlay"></div>

  <div class="content">
    <h1>Rising Academy</h1>
  </div>

  <div id="carouselController" class="carousel slide" data-ride="carousel">

    <!-- INDICATORS -->
    <ol class="carousel-indicators">
      <li data-target="#carouselController" data-slide-to="0" class="active"></li>
      <li data-target="#carouselController" data-slide-to="1"></li>
      <li data-target="#carouselController" data-slide-to="3"></li>
    </ol>

    <!-- WRAPPER SLIDES -->
    <div class="carousel-inner">

      <div class="carousel-item active">
        <!-- <img class="center-block" src="..." alt="First Slide"> -->
        <!-- <div class="carousel-caption d-none d-md-block">
          <h3>Slide 1</h3>
        </div> -->
        <div class="slider-items" class="center-block">
          <h1>Slider 1</h1>
        </div>
      </div>

      <div class="carousel-item">
        <div class="slider-items" class="center-block">
          <h1>Slider 2</h1>
        </div>
        <!-- <img class="center-block" src="..." alt="Second Slide"> -->
      </div>

      <div class="carousel-item">
        <div class="slider-items" class="center-block">
          <h1>Slider 3</h1>
        </div>
        <!-- <img class="center-block" src="..." alt="Third Slide"> -->
      </div>

       <!-- Left and right controls -->
       <a class="carousel-control-prev" href="#carouselController" role="button" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
         <span class="sr-only">Previous</span>
       </a>
       <a class="carousel-control-next" href="#carouselController" role="button" data-slide="next">
         <span class="carousel-control-next-icon"></span>
         <span class="sr-only">Next</span>
       </a>

    </div>

  </div>
  
  
<%- include("partials/footer.ejs")-%>
