<%- include("partials/header.ejs")-%>
  
  <div class="container-fluid">

    <div class="row">

      <div class="top-heading col-sm-12">
        <div class="top-heading-bg-image">
          <div class="top-heading-overlay"></div>
          <div class="top-heading-texts">
            <h1>RISING ACADEMY</h1>
            <h2>LEARNING CENTER</h2>
            <p>"We're on a mission to help kids to improve on their math, writing and english." <br>
              "We help them to better their progress in homework and thrive them to learn."</p>
            <h2>Sign up to apply for your kids.</h2>
          </div>
        </div>
      </div>

      <div class="section-1 col-sm-12">
        <div class="section-1-bg-img">
          <div class="section-1-texts">
            <h1>Let your kids meet their <br>
              grade-level standards by <br>
              joining us.</h1>
              <button type="button" class="btn btn-primary">Sign Up</button>
              <!-- <div class="section-1-btns"> -->
                <!-- <button type="button" class="btn btn-success">Primary</button> -->
                
                 <!-- <a class="btn btn-block btn-social btn-facebook" role="button">
                   <span class="fab fa-facebook"></span> Sign in with Facebook
                 </a>
                 <a class="btn btn-block btn-social btn-google" role="button">
                   <span class="fab fa-google"></span> Sign in with Google
                 </a> -->
              <!-- </div> -->
          </div>
        </div>
      </div>

      <div class="section-2 col-sm-2">
        <div class="toy-van-container">
          <img class="toy-van" src="images/toy-van.png" alt="Toy Van">
        </div>
        
      </div>

    </div>

  </div>
  

  <!-- </div> -->
  
  
<%- include("partials/footer.ejs")-%>
