<%- include("partials/header.ejs")-%>
  
  <div class="bg-image"></div>

  <div class="container home-content">

    <div class="row main-heading">
      <div class="col-sm-12 top-heading">RISING ACADEMY</div>
      <div class="col-sm-12 bottom-heading">LEARNING CENTER</div>
    </div>

    <div class="row">
      <div class="box col-lg-4 col-md-4 col-sm-12">
        <div class="box-1">
          <h4>CONTACT US</h4>
          <h5>(718) 321-8021</h5>
          <button type="button" class="btn btn-warning">
            <i class="fa fa-phone-square"></i> CALL
          </button>
        </div>
      </div>

      <div class="box col-lg-4 col-md-4 col-sm-12">
        <div class="box-2">
          <h4>SIGN UP<br>
          TO APPLY FOR<br>
          YOUR KIDS</h4>
          <button type="button" class="btn btn-success">LOGIN</button>
          <button type="button" class="btn btn-primary">SIGN UP</button>
          </div>
        </div>
        
      <div class="box col-lg-4 col-md-4 col-sm-12">
        <div class="box-3">
          <h4>LOCATION</h4>
          <button type="button" class="btn btn-info">
            <i class="fa fa-directions"></i> GET DIRECTIONS
          </button>
        </div>
      </div>
    </div>

  </div>
  
  
  <!-- <div class="dark-overlay"></div> -->

  <!-- <div class="content container">

    <div class="heading-wrapper row">
      <div class="col-sm-12">
        <img class="heading-img" src="images/heading.png">
      </div>
    </div>
    
    <div class="row">
      <div class="description-wrapper col-sm-6">
        <img class="description-img" src="images/description.png">
      </div>

      <div class="signup-wrapper col-sm-6">
        <img class='signup-overlay' src="images/signup-descrip.png">
        <div class="signup-btns">
          <button type="button" class="btn btn-success">LOGIN</button>
          <button type="button" class="btn btn-primary">SIGN UP</button>
        </div>
        
      </div>
    </div>
    
  </div> -->

  </div>
  
  
<%- include("partials/footer.ejs")-%>
