
.bg-image {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.main-heading {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  opacity: 0.8;
  background-color: #fdeaab;
}

.main-heading .top-heading {
  font-size: 5vw;
  margin-bottom: -12px;
}

.main-heading .bottom-heading {
  font-size: 3vw;
  margin-left: 2px;
}

.box {
  background-color: white;
  border: 1px solid black;
  text-align: center;
  
}

.box-2 {
  /* width: 90%; */
  background: red;
  border-radius: 10px;
}


/* For mobile phones: */
@media (min-width: 481px) and (max-width: 767px) {
  .main-heading .top-heading {
    font-size: 5vw;
    margin-bottom: -5px;
  }

  .main-heading .bottom-heading {
    font-size: 3vw;
    margin-left: 0px;
  }
  
}

/* For tablet */
@media (min-width: 768px) and (min-width: 1024px) {
  .main-heading .top-heading {
    margin-bottom: -3px;
  }

  .main-heading .bottom-heading {
    margin-left: 0px;
  }

}