html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans',
  sans-serif;
}

.navbar-brand {
  font-weight: bold;
  font-size: 20px;
}

.nav-logo {
  width: 35px;
}

.nav-link {
  font-weight: bold;
  color: #4569e2 !important;
}

.nav-link:hover {
  color: black !important;
}

.text-center {
  text-align: center;
}

.top-heading {
  padding: 0;
  color: white;
}

.top-heading-bg-image {
  background-image: url('/public/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top-heading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 0;
}

.top-heading-contents {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: space-around;
  -ms-flex-align: space-around;
  align-items: space-around;
  padding: 6rem 0 6rem 0;
}

.top-texts {
  width: 50%;
  padding: 4rem;
}

.top-texts h1 {
  font-size: 3.5rem;
  margin-bottom: -0.187em;
  z-index: 1;
}

.top-texts h2 {
  font-size: 2rem;
}

.top-texts p {
  font-size: 0.8rem;
}

.top-login-modal {
  border-left: 1px solid white;
  width: 50%;
}

.top-form {
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1%;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(63, 63, 63);
  width: 18rem;
}

.top-form .btn {
  width: 100%;
}

.top-form a {
  text-decoration: none;
}

.top-form .btn {
   -webkit-box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
   -moz-box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
   box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
}

.top-appear {
  display: none;
}

.section-1 {
  padding: 0;
}

.section-1-bg-img {
  background-image: url('/public/images/books-close-up.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.section-1-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 10rem 0rem 12rem 0;
}

.section-1 h1 {
  font-size: 2rem;
}

.section-1 p {
  font-size: 1rem;
}

.section-1 .btn {
  width: 23.5rem;
  font-weight: bold;
  -webkit-box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
  -moz-box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
  box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
}

.section-2 {
  padding: 0;
  color: #555555;
}

.section-2-bg-img {
  background-image: url("/public/images/toy-van-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section-2-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 12rem 0 12rem 8rem;
}

.section-2 h3 {
  margin-bottom: 1rem;
}

.section-2 .btn {
  font-weight: bold;
  width: 17rem;
  background-color: #ff8a5c;
  border-color: #ff8a5c;
  -webkit-box-shadow: -0.125rem 0.3125rem 0px 0px rgb(92, 61, 20);
  -moz-box-shadow: -0.125rem 0.3125rem 0px 0px rgb(92, 61, 20);
  box-shadow: -0.125rem 0.3125rem 0px 0px rgb(92, 61, 20);
}

.signup-pg-body {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f090d9), to(#59d4e8));
  background-image: -o-linear-gradient(top left, #f090d9, #59d4e8);
  background-image: linear-gradient(to bottom right, #f090d9, #59d4e8);
  padding-top: 2rem;
  height: 100%;
  min-height: 100%;
}

.signup-modal {
  padding: 1rem;
  width: 25rem;
  margin: 0 auto;
  border: 0.125rem solid white;
  border-radius: 3%;
  color: white;
}

.signup-modal .btn {
  -webkit-box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
  -moz-box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
  box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
}

.signup-modal .star-logo {
  width: 4rem;
  position: relative;
  left: 9.5rem;
}

.signup-modal h5 {
  text-align: center;
  font-family: serif;
}

.signup-modal input {
  border-color: white;
}

.register-body .btn {
  background-color: #40c3a2;
  border-color: #40c3a2;
  width: 100%;
}

.register-body .btn:hover {
  background-color: #2c7965;
  border-color: #2c7965;
}

hr {
  border-color: white;
}

.social-body .btn-facebook {
  background-color: rgb(112, 183, 241);
  border-color: rgb(112, 183, 241);
}

.social-body .btn-google {
  background-color: rgb(245, 96, 96);
  border-color: rgb(245, 96, 96);
}

.section-cards {
  background-color: #ffb6b9;
  padding: 6% 0 6% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.card {
  text-align: center;
  border: none;
  background: none;
}

.card-img-top {
  width: 12rem;
  background-color:rgb(109, 169, 218);
  border: 0.625rem solid rgb(109, 169, 218);
  border-radius: 100%;
}

.card-body h5 {
  font-weight: bold;
}

.card-body h6 {
  font-weight: bold;
  color: rgb(93, 93, 93);
}

.card-body p {
  font-size: 1rem;
  color: rgb(73, 73, 73);
}

.login-pg-body {
  height: 100%;
  min-height: 100%;
  padding-top: 4rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f090d9), to(#59d4e8));
  background-image: -o-linear-gradient(top left, #f090d9, #59d4e8);
  background-image: linear-gradient(to bottom right, #f090d9, #59d4e8);
}

.login-pg-body .container {
  margin: 0 auto;
  padding: 2rem;
}

.login-pg-body .btn {
  -webkit-box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
  -moz-box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
  box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
}

.login-modal {
  padding: 5rem;
  color: white;
}

.login-modal .btn {
  width: 100%;
  background-color: #40c3a2;
  border-color: #40c3a2;
}

.login-modal .btn:hover {
  background-color: #2c7965;
  border-color: #2c7965;
}

.login-social-group {
  border-left: 2px solid white;
  padding: 5rem;
}

.login-social-group .btn-google {
  margin-top: 2rem;
  background-color: rgb(245, 96, 96);
  border-color: rgb(245, 96, 96);
}

.login-social-group .btn-facebook {
  background-color: rgb(112, 183, 241);
  border-color: rgb(112, 183, 241);
}

#map{
  width: 100%;
  height: 100%;
  background-color: gray;
}

.location-pg {
  min-height: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.location-info {
  position: relative;
  top: -100%;
  width: 17rem;
  height: 100%;
  padding: 2rem;
  background-color: #6c7b95c0;
  color: white;
  font-size: 0.8rem;
}

.location-info input{
  font-size: 1rem;
}

.location-info h5 {
  border-bottom: 0.0625em solid white;
}

.register-pg {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f090d9), to(#59d4e8));
  background-image: -o-linear-gradient(top left, #f090d9, #59d4e8);
  background-image: linear-gradient(to bottom right, #f090d9, #59d4e8);
  padding: 2rem;
  color: white;
  font-family: 'Lexend Deca',
  sans-serif;
}

.register-pg h3 {
  border-bottom: 0.5px solid white;
  padding-bottom: 1.5rem;
}

.register-pg form {
  padding-left: 4rem;
}

.required-field::after {
  content: " *";
  color: rgb(195, 79, 79);
}

#add-btn{
  -webkit-box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
  -moz-box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
  box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
}

.register-pg .submit-btn {
  width: 100%;
  margin-top: 1rem;
  -webkit-box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
  -moz-box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
  box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
}

.childs-info h3 {
  margin-bottom: 3rem;
}

#remove-btn {
  padding: 0;
  width: 2rem;
  height: 2rem;
  margin-top: 0.1875rem;
  border-radius: 100%;
  background-color: #f67e7d;
  border-color: #f67e7d;
}

.personal-pg {
  background-color: rgb(239, 248, 233);
  color: rgb(58, 58, 58);
}

.personal-pg .btn {
  -webkit-box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
  -moz-box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
  box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
}

.personal-heading {
  padding: 1rem;
  font-family: 'Lexend Deca',
  sans-serif;
}

.personal-body {
  padding: 3rem;
  width: 80%;
  margin: 0 auto;
}

.personal-body .btn {
  padding: 1rem;
}

.personal-body .links-group {
  border-radius: 1rem;
}

.personal-pg .dropdown {
  padding-right: 4rem;
}

.personal-pg .dropdown p {
  text-align: justify;
  font-family: 'Lexend Deca',
  sans-serif;
}

.personal-pg .dropdown .btn {
  width: 100%;
}

.personal-pg .right-column {
  padding-left: 4rem;
}

.personal-pg .right-column p {
  text-align: justify;
  font-family: 'Lexend Deca',
  sans-serif;
}

.personal-pg .right-column .btn {
  width: 100%;
}

.curriculum-group {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 15px;
  font-family: 'Lexend Deca',
  sans-serif;
  color: white;
}

.curriculum-grades h3 {
  padding-left: 0.5rem;
}

.collapse-btn {
  background: none;
  border: none;
  color: rgb(180, 208, 255);
}

.collapse-btn:focus {
  border: none;
  outline: none;
}

.grade-group .circle:hover {
  cursor: pointer;
}

.grade-group .circle {
  font-family: 'Lexend Deca',
  sans-serif;
  border-radius: 100%;
  font-size: 1.5em;
  padding-top: 0.9rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  font-weight: bold;
  color: black;
}

.grade-group div:first-child {
  background-color: #ffdcf7;
  border: 5px solid #f76262;
}

.grade-group div:nth-child(2) {
  background-color: #fda1a1;
}

.grade-group div:nth-child(3) {
  background-color: #fce2ae;
}

.grade-group div:nth-child(4) {
  background-color: #b6ffea;
}

.grade-group div:nth-child(5) {
  background-color: #c5f0a4;
}

.grade-group div:nth-child(6) {
  background-color: #d699a9;
}

.grade-group div:nth-child(7) {
  background-color: #ab72c0;
}

.grade-group div:nth-child(8) {
  background-color: #ffdd67;
}

.grade-group div:nth-child(9) {
  background-color: #83929c;
}

.list-group-item {
  background: none;
}

.error-msg {
  background-color: rgb(241, 151, 151);
  border: 1px solid red;
  color: rgb(63, 63, 63);
  font-size: 0.8em;
  margin-top: 0.25rem;
  padding: 0.4rem;
}

.password-err {
  background-color: rgb(241, 151, 151);
  border: 1px solid red;
  color: rgb(73, 73, 73);
  font-size: 0.8rem;
  margin-top: 0.25em;
  padding: 0.4em;
}

.invalid-msg {
  background-color: rgb(241, 151, 151);
  border: 1px solid red;
  color: rgb(73, 73, 73);
  padding: 0.4rem;
  text-align: center;
}

.valid-pass {
  color: #6e2142;
  font-size: 0.8rem;
}

footer {
  font-size: 0.75rem;
  background-color:white;
  color: #696464;
  width: 100%;
  position: relative;
  bottom: 0;
  clear: both;
}

/* For Mobile */
@media (min-width: 320px) and (max-width: 767px) {
  :root {
    font-size: 60%;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .top-login-modal {
    display: none;
  }

  .top-texts {
    padding: 0;
    width: 100%;
  }

  .top-texts .title-captions {
    display: none;
  }

  .top-heading-contents {
    padding: 0;
  }

  .title-heading {
    background-color: rgba(255, 255, 0, 0.4);
    color: black;
    margin-bottom: 2rem;
  }

  .top-appear {
    display: block;
    position: relative;
    z-index: 1;
    margin: 0 auto;
  }

  .top-appear h1{
    padding: 0.5rem;
  }

  .top-appear .btn {
    font-size: 2rem;
    font-weight: 100;
    padding: 0.5em;
    margin-top: 2rem;
    margin-bottom: 3rem;
    -webkit-box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
    -moz-box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
    box-shadow: 0.125rem 0.3125rem 0px 0px rgb(43, 50, 146);
  }

  .section-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-1-contents {
    padding: 5rem 0 5rem 0;
  }

  .section-1 .btn {
    font-size: 2rem;
    font-weight: 100;
    margin-right: 0.25rem;
  }

  .section-2-contents {
    padding: 5rem 0 5rem 2rem;
  }

  .section-2 h3 {
    margin-bottom: 2rem;
  }

  .section-2 .btn {
    font-size: 2rem;
    font-weight: 100;
    width: 10em;
  }
  
  .fab {
    position: relative;
    margin-top: -1rem;
  }

  .card-body p {
    padding-left: 13%;
    padding-right: 13%;
  }

  .login-pg-body {
    padding: 0;
  }

  .login-pg-body .container {
    margin: 0 auto;
    padding: 0;
    width: 33rem;
  }
  
  .login-pg-body .btn {
    font-size: 1.5rem;
    padding: 0.5em;
  }

  .login-modal {
    padding: 2rem;
  }

  .login-modal label {
    font-size: 1.5rem;
  }

  .login-modal input {
    font-size: 2rem;
  }

  .login-social-group {
    border-top: 2px solid white;
    border-left: none;
    padding: 2rem;
  }

  .login-social-group .btn-google {
    margin-top: 1rem;
  }

  .signup-modal {
    padding: 1rem;
    width: 30rem;
    margin: 0 auto;
    border: 0.125rem solid white;
    border-radius: 3%;
    color: white;
  }

  .signup-modal .star-logo {
    left: 12rem;
  }

  .signup-modal h5 {
    text-align: center;
    font-family: 'Bitter', serif;
  }

  .signup-modal input {
    border-color: white;
    font-size: 1.5rem;
  }

  .register-body .btn {
    font-size: 1.5rem;
    padding: 0.5em;
  }

  .social-body .btn {
    font-size: 1.5rem;
    padding: 0.5em;
  }

  #map {
    width: 100%;
    height: 50%;
  }

  .location-pg {
    min-height: 100%;
    height: 100%;
  }

  .location-info {
    position: relative;
    top: 0;
    width: 100%;
    height: 50%;
    padding: 1.3rem;
  }

  .register-pg {
    padding: 1rem;
  }

  .register-pg form {
    padding-left: 0;
  }

  .childs-info h3{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  #add-btn {
    font-size: 1.3rem;
  }

  .register-pg .submit-btn {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .personal-heading {
    padding: 0;
  }

  .personal-body {
    padding: 0;
    width: 100%;
  }

  .personal-body .links-group {
    border-radius: 1rem;
  }

  .personal-pg .dropdown {
    padding-right: 2rem;
  }

  .personal-pg .dropdown-menu {
    width: 90%;
  }

  .personal-pg .right-column {
    padding-left: 2rem;
  }


}

/* For tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    font-size: 100%
  }

  .top-heading-contents {
    display: block;
    padding: 0;
  }

  .top-texts {
    width: 100%;
    text-align: center;
    padding: 1rem 0 0 0;
    margin-bottom: 2rem;
  }

  .top-login-modal {
    border: none;
    width: 100%;
    padding-bottom: 2rem;
  }

  .section-1-contents {
    padding: 3rem 1rem 3rem;
  }

  .section-1 .btn {
    font-size: 1.5rem;
    font-weight: 100;
  }

  .section-2-contents {
    padding: 5rem 0 5rem 2rem;
  }

  .section-2 h3 {
    margin-bottom: 1rem;
  }

  .section-2 .btn {
    font-size: 1.5rem;
    font-weight: 100;
    width: 10em;
  }

  .section-cards {
    flex-direction: column;
    padding-bottom: 0;
  }

  .card-img-top {
    margin-left: 10%;
    float: left;
  }

  .card-body {
    position: relative;
    bottom: 12.5rem;
    left: 18rem;
    text-align: left;
    width: 60%;
    margin-bottom: -10rem;
  }

  .login-pg-body {
    padding-top: 5rem;
  }

  .login-pg-body .container {
    margin: 0 auto;
    padding: 0;
    width: 30rem;
  }

  .login-modal {
    padding: 2rem;
  }

  .login-social-group {
    border-top: 2px solid white;
    border-left: none;
    padding: 2rem;
  }

  .login-social-group .btn-google {
    margin-top: 1rem;
  }

  #map {
    width: 100%;
    height: 50%;
  }

  .location-pg {
    min-height: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
  }

  .location-info {
    position: relative;
    top: 0;
    width: 100%;
    height: 50%;
    padding: 1.3rem;
    font-size: 0.9rem;
  }

  .location-info input {
    width: 20rem;
  }

  .register-pg form {
    padding-left: 0;
  }

  .childs-info h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .register-pg .submit-btn {
    margin-top: 2rem;
  }

  .personal-heading {
    padding: 0.5rem;
  }

  .personal-body {
    padding: 0;
    width: 98%;
  }

  .personal-body {
    padding-top: 3%;
    padding-bottom: 2%;
  }

  .personal-body .links-group {
    border-radius: 0.6rem;
  }

  .personal-pg .dropdown {
    padding-right: 1rem;
  }

  .personal-pg .dropdown-menu {
    width: 98%;
  }

  .personal-pg .right-column {
    padding-left: 0.6rem;
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    position: relative;
    left: 38%;
  }

  .card-body {
    bottom: 12rem;
    left: 19rem;
  }

  .section-1-contents {
    padding-right: 5rem;
  }

  .login-pg-body {
    height: 100%;
    min-height: 100%;
    padding-top: 4rem;
  }

  .login-pg-body .container {
    margin: 0 auto;
    width: 100%;
    padding: 0;
  }

  .login-modal {
    padding: 4rem;
  }

  .login-modal .btn {
    width: 100%;
  }

  .login-social-group {
    border-top: none;
    border-left: 2px solid white;
    padding: 4rem;
  }

  .login-social-group .btn-google {
    margin-top: 2rem;
  }

  .register-pg {
    padding: 2rem;
    height: 100%;
  }

  .childs-info h3 {
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .personal-body {
    padding-top: 5%;
    padding-bottom: 14%;
  }

   .personal-pg .dropdown-menu {
     width: 95%;
   }
}

/* For laptop and Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {
  :root {
    font-size: 100%; 
  }
  .navbar-brand {
    position: relative;
    left: 42%;
  }

  .register-pg {
    height: 100%;
  }

  .personal-pg .dropdown-menu {
    width: 83%;
  }
}

/* For resolution higher */
@media(min-width: 1281px) {
  :root {
    font-size: 120%;
  }

  .navbar-brand {
    position: relative;
    left: 44%;
  }

  .top-login-modal {
    padding: 1.5rem;
  }

  .top-texts {
    width: 50%;
    padding: 7rem;
  }

  .top-form {
    margin: 0 auto;
    padding: 1.5rem;
    width: 20rem;
  }

  .section-1-contents {
    padding-right: 8rem;
  }

  .signup-modal {
    margin-top: 5rem;
    margin-bottom: 5.6rem;
  }

  .fab {
    position: relative;
    margin-top: 0.375rem;
  }

  .register-modal {
    padding-top: 3rem;
  }

  .register-pg {
    height: 100%;
  }

  .personal-pg .dropdown-menu {
    width: 87%;
  }

}